.root{
    -fx-background-color: transparent;
}

.table-view{
    -fx-selection-bar: #34495E !important;
    -fx-selection-bar-non-focused: #34495E !important;
}

.columnConfirm{
    -fx-alignment: center;
}

.confirmedOrder{
    -fx-background-color: Green;
}

.confirmedOrder .table-cell{
    -fx-text-fill: white;
}

.onEmptyLabel {
    -fx-font-size: 32;
}
