.AddButton {
    -fx-background-color: lightgrey;
}

.AddButton:hover {
    -fx-background-color: green;
    -fx-background-image: url('/Foundation/Resources/Icons/PhoneEmulator/add.png');
    -fx-background-size: 25;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-text-fill: transparent;
}

.RemoveButton {
    -fx-background-color: lightgrey;
}

.RemoveButton:hover {
    -fx-background-color: red;
    -fx-background-image: url('/Foundation/Resources/Icons/PhoneEmulator/minus.png');
    -fx-background-size: 25;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-text-fill: transparent;
}