
/**
 * @Author Robert Skaar
 * @Project newProject  -  https://github.com/robskaar
 * @Date 11-05-2020
 **/

.root {
    -fx-background-color: #484641;
    -fx-focus-color: transparent ;
    -fx-faint-focus-color: transparent ;
}
*{
    -fx-base: #403d3b;
}
.tool-bar{
    -fx-background-color: transparent;
}
#toolBar{
    -fx-background-color: #403d3b;
}
.separator *.line{
    -fx-border-color: #35332d;
    -fx-border-width: 2;
}
#DisplayPane{
    -fx-background-color: #7E7F83;
}
#backButton {
    -fx-pref-width: 20;
    -fx-pref-height: 20;
    -fx-background-color: transparent;
    -fx-background-image: url('../Icons/General/backButton.png');
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover;
    -fx-background-position: center;
}
#backButton:hover{
    -fx-scale-y: 0.8px;
    -fx-scale-x: 0.8px;
    -fx-effect: dropshadow(three-pass-box,black,2,0,0,0);
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover;
    -fx-background-position: center;
}

#closeBtn {
    -fx-effect: dropshadow(three-pass-box,black,0.25,0,0,0);
    -fx-pref-width: 16;
    -fx-pref-height: 16;
    -fx-background-color: transparent;
    -fx-background-image: url('../Icons/TopMenuBar/close.png');
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover;
    -fx-background-position: center;
}
#closeBtn:hover{
    -fx-scale-y: 0.8px;
    -fx-scale-x: 0.8px;
    -fx-effect: dropshadow(three-pass-box,black,2,0,0,0);
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover;
    -fx-background-position: center;
    -fx-background-image: url('../Icons/TopMenuBar/closeHovered.png');
}

#minimizeBtn {
    -fx-pref-width: 16;
    -fx-pref-height: 16;
    -fx-background-color: transparent;
    -fx-background-image: url('../Icons/TopMenuBar/minimize.png');
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover;
    -fx-background-position: center;
}
#minimizeBtn:hover{
    -fx-scale-y: 0.8px;
    -fx-scale-x: 0.8px;
    -fx-effect: dropshadow(three-pass-box,black,2,0,0,0);
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover;
    -fx-background-position: center;
    -fx-background-image: url('../Icons/TopMenuBar/minimizeHovered.png');
}
#maximizeBtn {
    -fx-pref-width: 16;
    -fx-pref-height: 16;
    -fx-background-color: transparent;
    -fx-background-image: url('../Icons/TopMenuBar/maximize.png');
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover;
    -fx-background-position: center;
}
#maximizeBtn:hover{
    -fx-scale-y: 0.8px;
    -fx-scale-x: 0.8px;
    -fx-effect: dropshadow(three-pass-box,black,2,0,0,0);
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover;
    -fx-background-position: center;
    -fx-background-image: url('../Icons/TopMenuBar/maximizeHovered.png');
}
.menu-button > .arrow-button > .arrow {
    -fx-padding: 0;
}
#settingsBtn{
    -fx-pref-width: 16;
    -fx-pref-height: 16;
    -fx-background-color: transparent;
    -fx-background-image: url('../Icons/TopMenuBar/settingsCog.png');
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover;
    -fx-background-position: center;
}
#settingsBtn:hover{
    -fx-scale-y: 0.8px;
    -fx-scale-x: 0.8px;
    -fx-effect: dropshadow(three-pass-box,black,2,0,0,0);
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover;
    -fx-background-position: center;
}

.button {
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.6), 2, 0, 0, 0);
    -fx-background-color : #403d3b;
    -fx-text-fill        : #CFD0D2;
}

.button:hover {
    -fx-background-color : #35332d;
}
.label{
     -fx-text-fill: #CFD0D2 ;
 }
.menu-item{
    -fx-background-color: #403d3b;
}
.menu-item:hover{
    -fx-background-color: #7E7F83;
}
.menu-button{
    -fx-background-color: #403d3b;
}
.menu{
    -fx-background-color: #403d3b;
}
.context-menu{
    -fx-background-color: #403d3b;
}

.scroll-pane > .viewport {
    -fx-background-color: transparent;
}
.scroll-pane {
    -fx-background-color: #7E7F83;
}
.text-field{
    -fx-background-color: #97999C;
    -fx-text-fill: #e4e5e7;
    -fx-prompt-text-fill: #e4e5e7 ;
}

.date-picker > .text-field{
    -fx-background-insets: 0 0 0 0;
    -fx-background-radius: 0 0 0 0;
}
.date-picker > .arrow-button {
    -fx-padding: 5px;
}

/* CSS for driver */

/* Defining colors*/
*{
    -c1 : #16A085;
    -c2 : #273746;
    -c3 : #283747;
    -c4 : #161618;
    -c5 : #000000;
    -c6 : #17202A;
    -c7 : #FDFEFE;
    -c8 : #34495E;
    -c9 : #FDFEFE;
    -c11 : #E74A4A;
}

.driverHBox{
    -fx-background-color: -c2;
    -fx-border-color: -c2;
}
.driverVBox{
    -fx-background-color: -c2;
    -fx-border-color: -c2;
}
.driverButton{
    -fx-background-color: -c4;
    -fx-text-fill: -c7;
}
.driverButton:hover{
    -fx-background-color: -c5;
}
.driverTable{
    -fx-background-color: -c8;
    -fx-border-color: -c6;
    -fx-text-fill: -c7;
    -fx-padding: 0;
}
.driverTable .table-cell{
    -fx-text-fill: -c9;
}
.driverTable .column-header {
    -fx-background-color: -c4;
    -fx-border-color: transparent;
    -fx-padding: 0;
}
.driverTable .column-header .label{
    -fx-text-fill: -c7;
}
.driverTable .table-row-cell{
    -fx-background-color: -c3;
}
.driverTable .table-row-cell:odd{
    -fx-background-color: -c8;
}
.driverTable .table-row-cell:selected{
    -fx-background-color: -c1 ;
}
.driverTable .scroll-bar:vertical, .driverTable.scroll-bar:vertical .track, .driverTable.scroll-bar:vertical .track-background,
.driverTable .scroll-bar:horizontal, .driverTable.scroll-bar:horizontal .track, .driverTable.scroll-bar:horizontal .track-background{
    -fx-background-color: -c4;
}
.driverTable .scroll-bar:horizontal .thumb, .driverTable .scroll-bar:vertical{
    -fx-background-color: -c5;
}

/* CSS for customer */

.customerVBox, .customerScroolPane, .customerScroolPane .scroll-bar:vertical,
.customerScroolPane .scroll-bar:vertical .track, .customerScroolPane .scroll-bar:vertical .track-background{
    -fx-background-color: -c2 !important;
}

.customerButton, .customerLabel, .customerHBox, .itemBox, .customerAddButton, .customerRemoveButton{
    -fx-background-color: -c4;
    -fx-text-fill: -c7;
}

.customerScroolPane .scroll-bar:vertical .thumb{
    -fx-background-color: -c6;
}

.customerButton:hover, .itemBox:hover{
    -fx-background-color: -c5 !important;
}

.customerAddButton:hover{
    -fx-background-color: -c1;
    -fx-background-image: url('/Foundation/Resources/Icons/PhoneEmulator/add.png');
    -fx-background-size: 25;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-text-fill: transparent;
}

.customerRemoveButton:hover{
    -fx-background-color: -c11;
    -fx-background-image: url('/Foundation/Resources/Icons/PhoneEmulator/minus.png');
    -fx-background-size: 25;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-text-fill: transparent;
}

.customerBackButton {
    -fx-background-color: transparent;
    -fx-background-image: url('/Foundation/Resources/Icons/PhoneEmulator/left-arrow.png');
    -fx-background-size: 18;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

.customerBackButton:hover {
    -fx-scale-x: 1.2;
    -fx-scale-y: 1.2;
    -fx-background-color: transparent;
}