.HBox_top{
    -fx-background-color: blue;
}

.HBox_middle{
    -fx-background-color: red;
}

.HBox_bottom{
    -fx-background-color: green;
}

.columnConfirm{
    -fx-alignment: center;
}

.confirmedOrder{
    -fx-background-color: Green;
}

.confirmedOrder .table-cell{
    -fx-text-fill: white;
}
